.thumbnails{
  float: left;
  width: 70px;
  height: 450px;
  overflow-y: hidden;
}

.thumbnail-parent{
  width: 80px;
  margin: 0;
  display: inline-block;
  align-content: center;
}

.product-images{
  display: inline-block;
}

.product-details{
  display: inline-block;
  max-width: 400px;
}

.product-thumbnail{
  width: 67px;
  height: 73px;
}

.primary-image-parent{
  overflow: hidden;
  height: 557px;
  width: 557px;
  display: inline-block;
}

.primary-image{
  display: inline-block;
  height: 557px;
  width: 557px;
  /* transition: all 0.3s; */
  max-width: 557px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.color{
  width: 30px;
  height: 15px;
  background-color: grey;
  margin: 2px;
  border-color: black;
  border-style: solid;
  display: inline-block
}

.primary-image:hover{
  transform:scale(1.8);
}

.thumbnail-scroll-button{
  align-self: center;
  background: url("back.png") no-repeat;
  transform: rotate(90deg);
  width: 32px;
  height: 32px;
  background-size: cover;
  display: block;
}

.description{
  display: block;
}

.materials{
  display: none;
}

.reviewbg{
  background-color: red;
  width:565px;
  height: 130px;
  transform-origin: left;
  transform: scalex(0.5);
  float: left;
}

.review{
  background-image: url('stars.png');
  width: 570px;
  height: 135px;
  float: left;
}