body{
  font-family: 'Trebuchet MS', sans-serif;
}

.thumbnails{
  float: left;
  width: 70px;
  height: 450px;
  overflow-y: hidden;
}

.product-name{
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  width: 407px;
  display: inline-block
}

.thumbnail-parent{
  width: 80px;
  margin: 0;
  display: inline-block;
  align-content: center;
}

.product-images{
  display: inline-block;
}

.detail-header1{
  border-bottom-color: grey;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: block;
  float: left;
  width: 203.5px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 23px;
}

.detail-header2{
  border-bottom-color: grey;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: block;
  float: left;
  width: 203.5px;
  cursor: pointer;
  text-indent: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 23px;
}

.detail-header-selected{
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.tab-content{
  clear: both;
}

.share-save-sep{
  line-height: 22px;
  margin: 0;
  text-align: right;
}

.product-details{
  display: inline-block;
  width: 416px;
  vertical-align: top;
  text-align: left;
}

.sku{
  text-transform: uppercase;
  color:#ccc;
  font-size: 12px;
  line-height: 20px;
  align-content: flex-start;
  display: block;
  margin-bottom: 8px;
}

.product-thumbnail{
  width: 67px;
  height: 73px;
}

.product-price{
  font-size: 32px;
  text-align: left;
  display: block;
  float: left;
  clear: both;
  margin-bottom: 10px;
}

.color-label{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding-top: 9px;
  float: left; 
  line-height: 16px;
  padding-left: 3px;
}

.current-color{
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 9px;
  float: left;
  line-height: 16px;
}

.color-parent{
  clear: both;
  border-top-color: rgb(190,190,190);
  border-top-style: solid;
  border-top-width: 1px;
  padding-bottom: 8px;
  border-bottom-color: rgb(190,190,190);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.size-chart-section{
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.size-chart-parent{
  width: 108.016px;
  border-right-color: rgb(190,190,190);
  border-right-style: solid;
  border-right-width: 1px;
}

.size-chart-text{
  margin-right: 10px;
  width: auto;
  border-bottom-color: rgb(190,190,190);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  float: right;
  cursor: pointer;
}

.primary-image-parent{
  overflow: hidden;
  height: 557px;
  width: 557px;
  display: inline-block;
}

.primary-image{
  display: inline-block;
  height: 557px;
  width: 557px;
  margin: 0;
  padding: 0;
  position: relative;
}

.product-content{
  display: block;
  height: 407px;
  width: 407px;
}

.product-color{
  width: 30px;
  height: 15px;
  background-color: grey;
  margin: 2px;
  border-color: black;
  border-style: solid;
  display: inline-block;
}

.product-colors{
  clear: both;
  margin-top: 3px;
}

.primary-image:hover{
  transform:scale(1.8);
  cursor: crosshair;
}

.social-sharing{
  display: inline-block;
  float: left;
}

.product-actions{
  display: inline-block;
  text-align: left;
  float: right;
  clear: both;
  display: table;
}

.save-button{
  float: right;
  color: red;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  width: 30px;
  height: 21px;
  display: inline-block;
  margin-right: 4px;
  cursor: pointer;
}

.button-divider{
  display: inline-block;
  float: right;
  font-size: 12px;
}

.share-button{
  float: right;
  color: red;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  width: 30px;
  height: 21px;
  display: inline-block;
  margin-left: 4px;
  cursor: pointer;
}

.thumbnail-scroll-button{
  align-self: center;
  background: url("back.png") no-repeat;
  transform: rotate(90deg);
  width: 32px;
  height: 32px;
  background-size: cover;
  display: block;
}

.description{
  display: block;
}

.materials{
  display: block;
}

.hidden{
  display: none !important;
}

.reviews_img{
  display: block;
  float: left;
  width: 142px;
  height: 28px;
  text-align: left;
  text-transform: uppercase;
}

.review-text{
  text-transform: uppercase;
  font-size: 12px;
  text-decoration-style: solid;
  text-decoration-color: black;
  cursor: pointer;
  border-bottom-color: rgb(190,190,190);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.review-text:hover{
  color: red;
  border-bottom-color: red;
}

.reviewbg{
  background-color: red;
  width:565px;
  height: 130px;
  transform-origin: left;
  transform: scalex(0.5);
  float: left;
}

.review{
  background-image: url('stars.png');
  width: 570px;
  height: 135px;
  float: left;
}

.review-parent{
  margin-bottom: 10px;
  line-height: 24px;
}